$primary-color: #a5d296;
$primary-color-1: #e1eef6;
$secondary-color: #8283a7;
$tertiary-color: #54546c;
$tertiary-color-1: #404146;
$alt-color: #ff7473;

$glow-color: #e1eef6;
$cell-bg-color: #54546c;
